.main-layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .example-container {
    width: 100%;
    height: 100%;
  }
  .example-sidenav-content {
    min-height: calc(100vh - 38px);
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-white);
    border-radius: 36px;
  }
  .example-sidenav {
    padding: 10px;
    width: 235px;
    // background: var(--color-list-nav);
  }

  .example-layout-content{
    padding: 19px 17px 19px 22px;
  }
}
