ul ,li {
    list-style: none;
    margin:0;
    padding: 0;
}

.card{
    display: flex;
    flex-wrap: wrap;
    .base-card{
        cursor: pointer;
        height: 82px;
        width: 254px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid #E6E8EC;
        margin: 0 13px 14px 0;
        transition: all 0.5s;
        padding: 11px;
        &:hover{
            background: #FF872A;
            color: #fff;
            .base-text{
                p{
                    color: #fff !important;
                }
                .total-group,.total-person{
                    background: #fff !important;
                }
            }
            .card-img{
                &::before{
                    opacity: 0.2 !important;
                }
            }
            img{
                opacity: 0;
                &.show-hover{
                    opacity: 1 !important;
                }
            }
        }
        .card-img{
            padding: 11px;
            position: relative;
            width: 60px;
            height: 60px;
            &::before{
                content: '';
                background: #fff;
                opacity: 0;
                border-radius: 10px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.5s;
            }
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                &.show-hover{
                    opacity: 0;
                }
            }
        }
        .card-info{
            padding-left: 5px;
            width: calc(100% - 60px);
            .base-header{
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 13px;
            }
    
            .base-text{
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;
                align-items: center;
                display: flex;
                p{
                    color: #23262F;
                    font-weight: 600;

                }
                .total-group{
                    width: 8px;
                    height: 8px;
                    margin-right: 6px;
                    border-radius: 50%;
                    background-color:#00C48C;
                }
                .total-person{
                    width: 8px;
                    height: 8px;
                    margin: 0 6px 0 16px;
                    border-radius: 50%;
                    background: #0084F4;
                    ;
                }
            } 
         
        }
    
    }
}
.delete{
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    position: absolute;

}