.logo {
  img {
    width: auto;
    padding: 61px 0 58px 41px;
  }
}
.hidden {
  display: none;
}
.title-sidebar{
  p{
    font-size: 14px;
    line-height: 17px;
    color: #23262F;
    font-family: SF-Pro-Display-Medium;
    padding: 0 0 13px 39px;
  }
}
.menu{
  padding: 0 30px;
}
button{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 14px 24px;
  background: #FF872B;
  border-radius: 16px;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  span{
    width: 103px;
    text-align: center;
    margin-left: 9px;
  }
}