<div class="main-layout-header">
  <div class="title">
    <h2>Danh sách xe</h2>
    <button class="create-car" (click)="addNewCar()">
      <img src="assets/images/Group 8965.svg" alt="" /> Thêm thẻ
    </button>
  </div>
  <app-header-info></app-header-info>
</div>



<ul class="list-car" *ngIf="listBus">
  <li *ngFor="let bus of listBus" [routerLink]="'/main/list-bus/bus-detail/' + bus.BusId">
    <div class="box-img">
      <img src="assets/images/Vector.svg" alt="">
    </div>
    <div class="box-txt">
      <p class="name-car">{{bus.Name}}</p>
      <p class="desc-car">
        <img src="assets/images/X-Circle.svg" alt="">
        <span (click)="deleteBus(bus.BusId);$event.stopPropagation()">Xóa xe</span>
      </p>
    </div>
  </li>
</ul>
