
.select-time {
  margin-bottom: 28px;
  margin-top: 90px;

  input {
    background: #f4f5f6;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #23262F;
    font-family: SF-Pro-Display-Semibold;
    padding: 12px 18px;
    border: none;
  }
}
